<div class="jumbotron">
  <h1><%= title "Sign Up" %></h1>
</div>


<div class="textMargin">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal form-user"}) do |f| %>
  <%= devise_error_messages! %>

  
  <div class="form-group">
    <%= f.label :username, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.text_field :username, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>
  

  <div class="form-group">
    <%= f.label :email, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.email_field :email, class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :team_id, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.collection_select :team_id, Team.order(:name), :id, :name, include_blank: true %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :password, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"} %>
    </div>
  </div>
     
  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation", class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.password_field :password_confirmation, class: "text-field form-control", html: {autocomplete: "off"} %>
    </div>
  </div>
     
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>

</div>