<div class="jumbotron">
  <h1><%= title "check" %></h1>

</div>

<div class="textMargin">

<ul>
<% @teams.each do |a| %>

<li><%= a.name %> <%= a.id %></li>

<% end %>
</ul>

<ul>
<% @goals.each do |a| %>

<li><%= a.player %> <%= a.date.blank? %></li>

<% end %>
</ul>




</div>