<div class="jumbotron">
  <h1><%= title "check" %></h1>

</div>

<div class="textMargin">


<% @goals.each do |a| %>
<% gfyid = a.gfy.to_s.gsub("http://gfycat.com/", "") %>
<%= a.player %>
<img src="http://thumbs.gfycat.com/<%= gfyid %>-thumb100.jpg">


<% end %>
</ul>


<ul>
<% @teams.each do |a| %>

<li><%= a.name %> <%= a.id %></li>

<% end %>
</ul>






</div>