<section class="videocontainer bg-grey page-section">
    <div class="container position-relative">
	<h1 class="text-center color-green txt-regular align-center">Admin Page</h1>

	<div class="adminBox">
		<h2>Upload/Download Goals Goals</h2>
		<h3>Admin Only</h3>

		<h4>Upload</h4>


		<%= form_tag import_goals_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Import" %>
		<% end %>

		<h4>Download</h4>


		<p>
		  Download:
		  <%= link_to "CSV", goals_path(format: "csv") %>
		</p>
	</div>
	
	<div class="adminBox">
	<h2> Users</h2>

	<ul>
		<% @users.each do |a| %>

		<li><%= a.id %> | <%= a.username %> | <%= a.email %> | uploads: <%= a.goals.count %> | Created at: <%= a.created_at %> </li>

		<% end %>
	</ul>
	</div>



    </div>
</section>