<%= form_for @goal, :html => { :class => 'form-horizontal form-model', :role => 'form' } do |f| %>
  <div class="form-group">
    <%= f.label :player, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :player, :class => 'text-field form-control' %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :competition_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
    <%= f.collection_select :competition_id, Competition.order(:name), :id, :name, include_blank: true, :class => 'control-label col-md-2' %>
    </div>
  </div>



  
  <div class="form-group">
    <%= f.label :team_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select :team_id, Team.order(:name), :id, :name, include_blank: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :opponent_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select :opponent_id, Team.order(:name), :id, :name, include_blank: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :date, { :include_blank => true, :start_year => 1950,  }, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :minute, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :minute, :class => 'text-field form-control' %>
    </div>
  </div>


    <div class="form-group">
    <%= f.label :penalty, :class => 'control-label col-md-2' %>
      <%= f.radio_button :penalty, false %>
      <%= f.radio_button :penalty, true %>
      </div>

      <div class="form-group">
    <%= f.label :own_goal, :class => 'control-label col-md-2' %>
      <%= f.radio_button :own_goal, false %>
      <%= f.radio_button :own_goal, true %>
      </div>

      <div class="form-group">
    <%= f.label :free_kick, :class => 'control-label col-md-2' %>
      <%= f.radio_button :free_kick, false %>
      <%= f.radio_button :free_kick, true %>
      </div>

      <div class="form-group">
    <%= f.label :home, :class => 'control-label col-md-2' %>
      <%= f.radio_button :home, false %>
      <%= f.radio_button :home, true %>
      </div>


  <div class="form-group">
    <%= f.label :scored_with, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :scored_with, [['Right Foot'], ['Left Foot'], ['Header'], ['Other']], include_blank: true, selected: @goal.scored_with %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :stadium, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :stadium, :class => 'text-field form-control' %>
    </div>
  </div>
  

  <div class="form-group">
    <%= f.label :stage, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select :stage, [['League Game'], ['Group Stage'], ['Round of 16'], ['Quarterfinals'], ['Semi Finals'], ['3rd Place Match'], ['Final']], include_blank: true, selected: @goal.stage %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :assist, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :assist, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :video, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :video, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gfy, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :gfy, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  goals_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
