<%- model_class = Goal -%>

<% set_meta_tags :description => "#{@goal.player} scores a goal for #{@goal.team.name} in the #{@goal.competition.name} against #{@goal.opponent.name}. Watch this goal at Goalopedia and find more great goals.",
                 :keywords => "#{@goal.player}, #{@goal.team.name}, #{@goal.competition.name}, #{@goal.opponent.name}, #{@goal.stadium}, #{@goal.scored_with}, #{@goal.assist}" %>

<div class="jumbotron">

<h1>
<%= link_to @goal.next_goal do %>
  <i class="fa fa-arrow-left"></i>
<% end %>


<%= title "#{@goal.player} (#{@goal.team.name}) v. #{@goal.opponent.name}" %>




<%= link_to @goal.previous_goal do %>
  <i class="fa fa-arrow-right"></i>
<% end %>



</h1>
</div>

<div class="showContent">

<% if @goal.gfy = true %>
<div class="gfyShow">
  <div class="vidOut">
  	<div class="gfyitem" data-title=false data-autoplay=true data-controls=false data-expand=false data-id="<%= @gfyid %>" %>"></div> 
    <a href="http://gfycat.com/" class="attribution">Via Gfycat.com</a>
  </div>

  <ul class="list-group">
  
    <li class="list-group-item active"><strong><% if @goal.date != nil %> <%= @goal.date.year %><% end %> <%= @goal.competition.name %></strong></li>

    
    <% if @goal.stage != nil %><li class="list-group-item"><strong>Stage:</strong> <%= @goal.stage %></li><% end %>
    <% if @goal.assist != nil || @goal.assist.blank? != true %><li class="list-group-item"><strong>Assist:</strong> <%= @goal.assist %></li><% end %>
    <% if @goal.minute != nil %><li class="list-group-item"><strong>Minute:</strong> '<%= @goal.minute %></li><% end %>
    <% if @goal.date != nil %><li class="list-group-item"><strong>Date:</strong> <%= @goal.date.to_s(:long) %></li><% end %>
    <% if @goal.stadium != nil %><li class="list-group-item"><strong>Stadium:</strong> <%= @goal.stadium %></li><% end %>
    <% if @goal.scored_with %><li class="list-group-item"><strong>Scored With:</strong> <%= @goal.scored_with %></li><% end %>
    <% if user_signed_in? != false || @goal.scored_with.blank? != false || @goal.stadium.blank? != false || @goal.date.blank? != false || @goal.stage.blank? != false %>

      <div class="showRow showEdit topMarg">
        <%= link_to "Add Goal Data", edit_goal_path(@goal), :class => 'btn btn-info' %>  
      </div>

    <% end %>
  </ul>


</div>

<% else %>

<h3>Please add my Gfycat Link!</h3>

<% end %>




<div class="form-group showRow">
  <%= link_to "Incorrect info?", edit_goal_path(@goal), :class => '' %>
<% if user_signed_in? && current_user.admin?  %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              goal_path(@goal),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>


  
</div>

</div>





