<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @goal.player %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @goal.minute %>
</p>

<p>
  <strong>Team:</strong>
  <%= @goal.team %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @goal.opponent %>
</p>

<p>
  <strong>Date:</strong>
  <%= @goal.date %>
</p>

<p>
  <strong>Penalty:</strong>
  <%= @goal.penalty %>
</p>

<p>
  <strong>Own goal:</strong>
  <%= @goal.own_goal %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @goal.stadium %>
</p>

<p>
  <strong>Home:</strong>
  <%= @goal.home %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @goal.competition %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @goal.stage %>
</p>

<p>
  <strong>Assist:</strong>
  <%= @goal.assist %>
</p>

<p>
  <strong>Video:</strong>
  <%= @goal.video %>
</p>

<p>
  <strong>Gfy:</strong>
  <%= @goal.gfy %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
