<%- model_class = Goal -%>


<div class="jumbotron">
  <h1><%= @goal.player %> (<%= @goal.team.name %>) v. <%= @goal.opponent.name %></h1>
</div>

<div class="showContent">

<% if @goal.gfy = true %>
<div class="gfyShow">
  <div class="vidOut">
  	<div class="gfyitem" data-title=false data-autoplay=false data-controls=false data-expand=false data-id="<%= @gfyid %>" %>"></div> 
  </div>

  <ul class="list-group">
  
  <li class="list-group-item active"><strong><% if @goal.date != nil %> <%= @goal.date.year %><% end %> <%= @goal.competition.name %></strong></li>

  
  <% if @goal.stage != nil %><li class="list-group-item"><strong>Stage:</strong> <%= @goal.stage %></li><% end %>
  <% if @goal.assist != nil || @goal.assist.blank? != true %><li class="list-group-item"><strong>Assist:</strong> <%= @goal.assist %></li><% end %>
  <% if @goal.minute != nil %><li class="list-group-item"><strong>Minute:</strong> '<%= @goal.minute %></li><% end %>
  <% if @goal.date != nil %><li class="list-group-item"><strong>Date:</strong> <%= @goal.date.to_s(:long) %></li><% end %>
  <% if @goal.stadium != nil %><li class="list-group-item"><strong>Stadium:</strong> <%= @goal.stadium %></li><% end %>
  <% if @goal.scored_with %><li class="list-group-item"><strong>Scored With:</strong> <%= @goal.scored_with %></li><% end %>
  <% if user_signed_in? != true %>
  <li class="list-group-item active noRat"><strong class="avRating margTop">Rating:</strong> <%= rating_for @goal, "quality", :noRatedMsg => true, :enable_half => true, :half_show => true, :disable_after_rate => false %><%= link_to "Sign Up to Rate", new_user_registration_path, class: "btn btn-info btn-small" %></li>
  <% else %>
  <li class="list-group-item active ratingExtra"><strong class="avRating">Rating:</strong> <%= rating_for @goal, "quality", :noRatedMsg => true, :enable_half => true, :half_show => true, :disable_after_rate => false %><%= link_to "Sign Up to Rate", new_user_registration_path, class: "btn btn-info btn-small" %></li>
  <% end %>
</ul>


</div>





<% else %>

<h3>Please add my Gfycat Link!</h3>

<% end %>



<div class="form-group showRow">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_goal_path(@goal), :class => 'btn btn-info' %>
<% if user_signed_in? && current_user.admin?  %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              goal_path(@goal),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>


  
</div>

</div>



